body{
    margin: 0px;
    font-family: 'Red Hat Display', sans-serif !important;
    scroll-behavior: smooth;
    background-color: #090909 !important;
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Oswald", sans-serif;
    .spline {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        background-color: #000;
    }
}

.model {
    position: absolute;
    top:0;
    z-index: -1;
    max-height: 90vh;
}
.text-gen {
    font-size: 40px;
}


.home-hero-sec{
    height: 100vh;
}

/* transparent section */

.Transparent-section {
    height: 90vh;
    z-index: -999999;
    background-color: transparent;
}





/* nav bar */
.navbar {
    transition: 1s;
    backdrop-filter: blur(7px);
}

.navbar:hover {
    box-shadow: 0px 0px 20px 1px #fff;
    
}

@keyframes widthIncrease {
    from {
    }
    to {
    }
}

.navlinks {
    width: 35%;
    animation-duration: 2s;
    transition: 0.4s;
    animation-name:widthIncrease;
}
.navlinks:hover {
    width: 50%;
}


.getintouch-card{
    background-color: #000;
    color: #fff;
    width: auto;
    gap: 4px;
    font-size: 16px;
    padding: 15px 25px;
    border-radius: 3.4rem;
    text-decoration: none;
    cursor: none;
    border: 1px solid #825fff;
    transition: all 0.5s;
}
.getintouch-card:hover{
    background-color: transparent;
    border: 1px solid #fff;
}


/* hero section */
.hero-content {
    position: absolute;
    top: 25vh;
    width: max-content;
    margin-left: 50px;
    
}


.hero-h-title{
    color: white;
    background-image: linear-gradient(to bottom, #ffffff, #00000050);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 5.12rem;
    font-weight: 500;
    line-height: 120%;
    max-width: 768px;
    margin-top: 30px;
    margin-bottom: 50px;
}
@media screen and (max-width:1200px) {
    .hero-h-title{
        font-size:3.5rem;
    }
}
@media screen and (max-width:768px) {
    .hero-h-title{
        font-size:2rem;
    }
}
.inner-color-title{
    background-image: linear-gradient(to bottom, #fff, grey) ;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text
}

.after-hero-sec {
    position:relative;
    top: 85vh;
}

/* section 2 */
.Companies-partner {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-image: linear-gradient(90deg, #bccacf,#bccacf, #000);
    color: #000;
    padding: 40px;
    height: 20vh;
    
}
.partner-not-ventor {
    font-weight: bold;
    padding-left: 60px;
    padding-right: 60px;
}
.sec2-company-logo {
    margin-right :20px;
}

.sec2-container {
    position: relative;
    top: -10px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-image: linear-gradient(90deg, #fff, #000000);
    border-bottom-left-radius: 50px;
    height: 50vh;
    padding: 100px;
}

.text-area {
    color: #fff;
    position: absolute;
    opacity: 0.2;
    width: 100%;
    font-size: 50px;
    top: 50px;
}
.text-area-hover {
    color: #fff;
    position: absolute;
    opacity: 1;
    width: 20%;
    top: 50px;
    font-size: 50px;
    overflow:hidden;
    white-space: nowrap;
}

/* section 3 */

.input-container {
}



/* section 5 */

.sec5-hover-effect {
    background-color: #4d4d4d;
    
}
.logo-service {
    padding: 100px;
    gap: 30px;
}
.sec5-cards-cont {
}

.services {
    color: grey;
    font-size: 25px;
}
.our-services-head {
    font-size: 50px;
    margin-left: 20px;
    margin-top: 20px;
}

/* section 6 */

.sec6-container {
}


/* Optimize section 6 */

.optimize-section {
    
}

.sec6-card {
    
}

.sec6-content-list {
    list-style-type: disc;
    gap: 10px;
    margin-left: 10px;
}
.sec6-content-list-item  {
    margin-bottom: 10px;
}
.sec6-card-content {
    z-index: 99;
    background-color: #000;
    color: white;
    box-shadow: 0px 0px 20px 1px #fff;
    
    position: absolute;
    bottom: 0;
    padding: 15px;
    border-radius: 10px;
    font-family: "Oswald", sans-serif;
    
}
.sec6-card-head {
    font-weight: bold;
    font-size: 20px;
    margin: 10px;
    
}
.sec6-card-para {
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 10px;
}

/* about section */
.about-sec-container {
    background-color: #E2E2E2;
    ;
    padding: 70px;
    border-radius: 50px;
    box-shadow: 0px 0px 10px 1px #fff;
    transition: 0.4s;
    color: #000;
    height: 85vh;
}
.about-sec-container:hover {
    box-shadow: 0px 0px 20px 1px #fff;

}
.about-sec-acm {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
}
.about-sec-head {
    font-weight: bold;
    font-size: 40px;
    width: 180%;
}
.about-sec-right-cont {
    width: 100%;
}
.about-sec-right-para {
    margin-bottom: 35px;
    font-weight: 300;
    color: grey;
}
.more-about {
    font-weight: bold;
    font-size: 15px;
}
.more-about-underline {
    width: 54%;
    color: #825fff;
    background-color: #825fff;
    height: 2px;
    border-radius: 10px;
}
.about-design {
    width: 25%;
}
.design-circle {
    height: 13px;
    width: 13px;
    background-color: #825fff;
    border-radius: 10px;
}
.dooted-line {
    border-top: 2px dashed grey;
    width: 100%;
}


.about-sec-below-design-content-para {
    width: 25%;
}

/* Team Section 8*/

.team-sec-container {
    position: relative;
    bottom: 50px;
    height: 100vh;
    background-color: #000;
    border-radius: 50px;
    padding: 70px;
    box-shadow: 0px 0px 10px 1px #000;
}
.team-sec-content {
    width: 40%;
}
.team-behind {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
}

.team-sec-head {
    font-weight: bold;
    font-size: 40px;
    width: 180%;
    margin-bottom: 25px;
}
.team-sec-para {
    margin-bottom: 35px;
    font-weight: 500;
    color: grey;
}

.lets-connect-button {
    border-radius: 20px;
    background-color: #E2E2E2;
    ;
    color: #000;
    height: 50px;
    width: 200px;
}
.team-sec-image {
    border-radius: 50px;
}
.small-img {
    position: relative;
    top: 200px;
    right: 100px;
    height: 320px;
    width: 280px;
    border: 10px solid #000;
}

/* section 7 */


.sec7-container {
    background-color: #E2E2E2;
    ;
    border-radius: 50px;
    height: 50vh;
    padding: 100px;
    color: #000;
    box-shadow: 0px 0px 20px 1px #fff;
}

.sec7-head {
    font-weight: bold;
    font-size: 45px;
    margin-bottom: 40px;
}
.blue-text {
    color: blue;
}

.company-img{
    margin: 25px;
}
.sec7-companies-logos {
    width: 70%;

}

.sec7-right-card {
    background-color: #000;
    border-radius: 15px;
    padding: 40px;
    width: 43%;
    transition: 0.4s;
}
.sec7-right-card:hover {
    box-shadow: 0px 0px 20px 1px #000;
}

.sec7-right-card-head {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
    color: #fff;
}
.yellow-text {
    color: blue;
}
.sec7-right-card-button {
    width: 100%;
    height: 50px;
    background-color: #E2E2E2;
    ;
    border-radius: 10px;
    color: #825fff;
    font-weight: bold;
    font-size: 20px;
}
.sec7-right-card-para {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
}
.sec7-right-card-span {
    color: skyblue;
    font-size: 20px;
    font-weight: bold;
}

/* section 8 */
.sec8-container {
}

/* section 9 */

.sec9-container {
    background-color: #E2E2E2;
    ;
    border-radius: 50px;
    height: 120vh;
    padding: 100px;
    color: #000;
    box-shadow: 0px 0px 20px 1px #fff;
    position: relative;
    top: 20px;
}

.sec8-head {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
    color: #000;
}

/* blog section carousel */
.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #E2E2E2;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
.swiper-container {
    width: 80%;
}
.carousel-container {
    width: 80%;
    position: relative;
    left: 100px;
}
  .carousel-card {
  }
.blog-img {
    width: 30px;
    height: 50px;
    border-radius: 50px;
  }
.blog-sec-head {
    font-weight: bold;
    font-size: 40px;
    width: 70vw;
    margin-top: 20px;
}

.blog-content {
    background-color: #000000;
    position: relative;
    bottom: 60px;
    height: 160px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    color: #fff;
    padding: 20px;
    text-align: left;
  }

  .blog-time {
    color: grey;
    margin-bottom: 10px;
  }
.blog-des {
    font-size: 17px;
}

.view-more-line {
    height: 2px;
    background-color: #825fff;
    width: 74px;
    border-radius: 10px;
}
.view-more {
    font-weight: bold;
    font-size: 15px;
}




/* Footer */

.footer-container-1 {
    background-color: #4d4d4d;
    position: relative;
    bottom: 50px;
    height: 105vh;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 50px;
    padding: 70px;
}
.footer-head {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 180px;
}
.avg-para {
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 10px;
}
.six{
    font-size: 45px;
}
.seven {
    position: relative;
    top: 10px;
}

.footer-container-2 {
    background-color: #E2E2E2;
    ;
    padding: 70px;
    position: relative;
    bottom: 130px;
    height: 61vh;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 50px;
    color: #000;
}
.solutions {
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 30px;
}
.solution-para {
    width: 25%;
    color: grey;
}

.solution-gap-line {
    margin-top: 40px;
    margin-bottom: 20px;
    height: 1px;
    background-color: #00000060;
}

.social-media-handle-logo {
    font-size: 30px;
}